body {
    background-color: lightgray;
}

p {
    text-align: right;
    font-style: italic;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: blue;
}

.prvi {
    text-align: center;
    color: red;
    font-size: 110%;
    font-family: "Times New Roman", Times, serif;
}

#odlomak2 {
    text-align: justify;
    font-family: Verdana, sans-serif;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: yellow;
    text-decoration: underline;
}