body {
    font-family: Arial, sans-serif;
    text-align: center;
}



form {
    display: inline-block;
    text-align: left;
}

label, input, textarea, button, div {
    font-size: 14px;
}

textarea, input {
    margin-top: 3px;
    margin-bottom: 8px;
}

button {
    margin: 3px;
}
